.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
22100Grp12.Rproj.Rcheck/
22100Grp12.Rproj*.tar.gz
22100Grp12.Rproj*.tgz
inst/doc
/doc/
/Meta/
group12RPackage.Rproj.Rcheck/
group12RPackage.Rproj*.tar.gz
group12RPackage.Rproj*.tgz
